<!doctype html>
<html lang="en">
    <head>
        <title>Sobre nosotros</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <script src="https://kit.fontawesome.com/b96e5277c1.js" crossorigin="anonymous"></script>

        <style>
            body {
                background-color: #EFF6E0; 
            }

            .btn-primary {
                background-color: #4CAF50; 
                border-color: #4CAF50;
            }

            .btn-primary:hover {
                background-color: #388E3C; 
            }

            .modal-content {
                border-radius: 10px;
            }

            .navbar-brand img {
                border-radius: 50%;
                border: 2px solid #FFFFFF; 
            }
        </style>


            <!-- Button to Open the Modal -->
        <!-- The Modal aquí agregué la id: log_modal que posteriormente uso donde declaré el ícono de usuario, para que me 
            abra el modal cuando se le da click -->
        <div class="modal" id="log_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header aquí pongo el header y una id de login modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="login_modal">Iniciar Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body aquí agrego el formulario-->

                    <div class="modal-body">
                        <form>

                            <!--mb-3 para agregar un marge inferior de tamaño 3 y span para los iconos -->
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo electrónico</label>
                                <div class=" input-group">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="correo" class="form-control" id="correo" placeholder="Ingresa tu correo" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <div class=" input-group">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
                                </div>
                            </div>

                            <!--botón de recordar-->

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="remember" required>
                                <label class="form-check-label" for="remember">Recordar</label>
                            </div>

                            <!--Botón de login dentro de un div -->

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">inicar sesión</button>
                            </div>

                        </form>
                    </div>
                    <!-- Modal footer aquí puse lo de no tiene cuenta? y el id del main footer, que va abrir un modal
                        a la hora de que el usuario le apriete a: Registrate aquí, lo cual le abrirá otro modal-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cerrar</button>
                        <p class="mb-0">¿No tienes cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#sign_up">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de log-out, el cual la id la usaré donde declare el ícono de sign out
                                            que en mi caso mi id es: log_out_modal -->
        <div class="modal" id="log_out_modal">
        <!-- El contenido del modal de log-out irá aquí -->

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="log_out_modal">¿Deseas cerrar la sesión?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body aquí agrego el formulario-->



                    <div class="modal-body">
                        <form>
                            <!--Aquí puse los botones de si o no para el log-out
                            usé las clases de d-flex y de justify-content-between
                            para que esté el no a la izquierda y el sí a la derecha-->
                            <div class="d-flex justify-content-between">

                            <button  type="submit" class="btn btn-primary" data-bs-dismiss="modal">no, prefiero seguir en sesión</button>
                    

                                <button type="button" class="btn btn-danger">si, deseo salir de sesión</button>
                            </div>

                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <!--Aquí declararé el modal de regristro de usuarios-->
        <div class="modal" id="sign_up">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sign_up_modal"> Registrarse</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                    </div>

                    <!--uso de un container, de row y de col-6, basándome en el template de productos-->


                    <div class="modal-body">
                        <form>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)" required>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <input type="email" class="form-control" id="correo" placeholder="Tu correo" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <input type="password" class="form-control" id="confirm_password" placeholder="Confirmar contraseña" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>



                    <!--Aquí declaro el boton de registro, con ayuda de modal footer y dentro de modal content-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">registrarse</button>
                    </div>
                </div>
            </div>


        </div>




    </head>

    <body>
        <header>
            <!--aquí declaro que la NavBar-->
            <script>
            const token = localStorage.getItem('token');

            // Si no hay token, oculta el botón de "Logout"
            if (!token) {
                const logoutButton = document.getElementById('logout_button');
                if (logoutButton) {
                    logoutButton.style.display = 'none';
                }
            }    
            if (token) {
                const loginButton = document.getElementById('login_button');
                if (loginButton) loginButton.style.display = 'none';
            }

            const logoutButton = document.getElementById("confirm_logout");
            if (logoutButton) {
                logoutButton.addEventListener("click", function () {
                    localStorage.removeItem('token');
                    window.location.href = "cart.html";
                });
            }
        
            </script>
            <!-- Cabe recalcar que en mi navbar dejé tags de tipo <a> para enlazar todor-->
                <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2C5F2D;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="Index.html">
                            <img src="../Images/Enhanced_Resolution_EcoSeda.jpg" alt="Logo" width="60" height="60">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="Index.html">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="About_us.html">Sobre nosotros</a></li>
                           <!--   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="Geles.html">Geles</a></li>
                                        <li><a class="dropdown-item" href="Jabones.html">Jabones</a></li>
                                        <li><a class="dropdown-item" href="Shampoos.html">Shampoos</a></li>
                                        <li><a class="dropdown-item" href="Tinturas_Madre.html">Tinturas Madre</a></li>
                                        <li><a class="dropdown-item" href="Otros.html">Otros</a></li>
                                    </ul>
                                </li>
                                -->
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="text" placeholder="Buscar productos...">
                                <button class="btn btn-success" type="button">Buscar</button>
                            </form>
                            <ul class="navbar-nav ms-auto">
                                <li id="login_button" class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#log_modal" role="button"><i class="fas fa-user"></i> Ingresar</a></li>
                                <li class="nav-item"><a class="nav-link" href="Cart.html"><i class="fas fa-shopping-cart"></i></a></li>
                                <li id="logout_button" class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#log_out_modal" role="button"><i class="fas fa-sign-out-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

        </header>
        <main>
            <h1>EcoSeda </h1>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
