<!doctype html>
<html lang="en">
    <head>
        <title>Ecoseda</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <script src="https://kit.fontawesome.com/b96e5277c1.js" crossorigin="anonymous"></script>

        <!--definiendo el max height y min height de las imagenes de mis productos-->
        <style>

            .producto-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                height: 100%;
            }

            .producto-card:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
            }

            .imagenes_productos {
                max-height: 600px;
                min-height: 600px;
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .imagenes_productos:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }


            body {
                background-color: #EFF6E0; 
            }

            .btn-primary {
                background-color: #4CAF50; 
                border-color: #4CAF50;
            }

            .btn-primary:hover {
                background-color: #388E3C; 
            }

            .modal-content {
                border-radius: 10px;
            }

            .navbar-brand img {
                border-radius: 50%;
                border: 2px solid #FFFFFF; 
            }



        </style>

            <!-- Button to Open the Modal -->
        <!-- The Modal aquí agregué la id: log_modal que posteriormente uso donde declaré el ícono de usuario, para que me 
            abra el modal cuando se le da click -->
        <div class="modal" id="log_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header aquí pongo el header y una id de login modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="login_modal">Iniciar Sesión</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body aquí agrego el formulario-->

                    <div class="modal-body">
                        <form>

                            <!--mb-3 para agregar un marge inferior de tamaño 3 y span para los iconos -->
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo electrónico</label>
                                <div class=" input-group">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="correo" class="form-control" id="correo" placeholder="Ingresa tu correo" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <div class=" input-group">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" required>
                                </div>
                            </div>

                            <!--botón de recordar-->

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="remember" required>
                                <label class="form-check-label" for="remember">Recordar</label>
                            </div>

                            <!--Botón de login dentro de un div -->

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">inicar sesión</button>
                            </div>

                        </form>
                    </div>
                    <!-- Modal footer aquí puse lo de no tiene cuenta? y el id del main footer, que va abrir un modal
                        a la hora de que el usuario le apriete a: Registrate aquí, lo cual le abrirá otro modal-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cerrar</button>
                        <p class="mb-0">¿No tienes cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#sign_up">Regístrate aquí</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de log-out, el cual la id la usaré donde declare el ícono de sign out
                                            que en mi caso mi id es: log_out_modal -->
        <div class="modal" id="log_out_modal">
        <!-- El contenido del modal de log-out irá aquí -->

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="log_out_modal">¿Deseas cerrar la sesión?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body aquí agrego el formulario-->



                    <div class="modal-body">
                        <form>
                            <!--Aquí puse los botones de si o no para el log-out
                            usé las clases de d-flex y de justify-content-between
                            para que esté el no a la izquierda y el sí a la derecha-->
                            <div class="d-flex justify-content-between">

                            <button  type="submit" class="btn btn-primary" data-bs-dismiss="modal">no, prefiero seguir en sesión</button>
                    

                                <button type="button" class="btn btn-danger">si, deseo salir de sesión</button>
                            </div>

                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <!--Aquí declararé el modal de regristro de usuarios-->
        <div class="modal" id="sign_up">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sign_up_modal"> Registrarse</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

                    </div>

                    <!--uso de un container, de row y de col-6, basándome en el template de productos-->


                    <div class="modal-body">
                        <form>
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)" required>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <input type="email" class="form-control" id="correo" placeholder="Tu correo" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <input type="password" class="form-control" id="confirm_password" placeholder="Confirmar contraseña" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--Aquí declaro el boton de registro, con ayuda de modal footer y dentro de modal content-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">registrarse</button>
                    </div>
                </div>
            </div>


        </div>





    </head>



    <body>
        <header>
            <!--aquí declaro que la NavBar-->

            <!-- Cabe recalcar que en mi navbar dejé tags de tipo <a> para enlazar todor-->
                <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #2C5F2D;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="Index.html">
                            <img src="../Images/Enhanced_Resolution_EcoSeda.jpg" alt="Logo" width="60" height="60">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="Index.html">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="About_us.html">Sobre nosotros</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="Geles.html">Geles</a></li>
                                        <li><a class="dropdown-item" href="Jabones.html">Jabones</a></li>
                                        <li><a class="dropdown-item" href="Shampoos.html">Shampoos</a></li>
                                        <li><a class="dropdown-item" href="Tinturas_Madre.html">Tinturas Madre</a></li>
                                        <li><a class="dropdown-item" href="Otros.html">Otros</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="text" placeholder="Buscar productos...">
                                <button class="btn btn-success" type="button">Buscar</button>
                            </form>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#log_modal" role="button"><i class="fas fa-user"></i> Ingresar</a></li>
                                <li class="nav-item"><a class="nav-link" href="Cart.html"><i class="fas fa-shopping-cart"></i></a></li>
                                <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#log_out_modal" role="button"><i class="fas fa-sign-out-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

        </header>

            <main> 
            
                <!-- Carousel -->
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button
                            type="button"
                            data-bs-target="#demo"
                            data-bs-slide-to="0"
                            class="active"
                        ></button>
                        <button
                            type="button"
                            data-bs-target="#demo"
                            data-bs-slide-to="1"
                        ></button>
                        <button
                            type="button"
                            data-bs-target="#demo"
                            data-bs-slide-to="2"
                        ></button>
                    </div>
    
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img 
                                src="../Images/Foto_Carrusel_3_Final.jpg"
                                alt="Foto Ecoseda uno"
                                class="d-block w-100"
                                style="object-fit: cover; height: 800px;"
                            />
                        </div>

    
                        <div class="carousel-item">
                            <img 
                                src="../Images/Foto_Carrusel_2.jpg"
                                alt="Foto Ecoseda dos"
                                class="d-block w-100"
                                style="object-fit: cover; height: 800px;"
                            />
                        </div>
    
                        <div class="carousel-item">
                            <img 
                                src="../Images/Foto_Carrusel_3.jpg"
                                alt="Foto Ecoseda tres"
                                class="d-block w-100"
                                style="object-fit: cover; height: 800px;"
                            />
                        </div>
                    </div>
    
                    <!-- Left and right controls/icons -->
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#demo"
                        data-bs-slide="prev"
                    >
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#demo"
                        data-bs-slide="next"
                    >
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
    
    
                    <!-- Productos -->
    
                    <!--<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"> es para que en panatallas grandes se muestren 4 columnas
                        para medianas 3 columnas, para pequeñas dos columnas, para muy pequeñas una cplumna -->
                    <div class="container productos mt-5">
                        <h2 class="mb-4">Nuestros Productos</h2>
                        <!-- Contenedor principal para los productos -->
                        <div id="lista-productos" class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
                                <!-- Los productos se insertan dinámicamente con el uso del id de lista-productos -->
                            </div>
                        </div>
                        
                        <!-- Paginación -->
                        <nav aria-label="Navegación de productos" class="mt-4">
                            <ul class="pagination justify-content-center" id="pagination">
                                <!-- con esto hago que con la id haga la paginación dinámicamente -->
                            </ul>
                        </nav>
                    </div>
    
    <!-- Modal que hice para agregar al carrito -->
    <div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToCartModalLabel">Agregar al Carrito</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="product-id">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" value="1" min="1" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelar-agregar-carrito" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="confirmarAgregarCarrito()">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--para llevar el contador del carrito-->
    <span id="contador-carrito">0</span>
    
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <!-- Archivo JavaScript Principal -->
        <script src="../app/controllers/home.js"></script>
    </body>
</html>
